.banner {
    background-image: url("../asset/banner_bck.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*overflow: hidden;*/
    width: 100%;
    height: 120vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    /*background-size: 100%;*/
}

.banner-text-item {
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.banner-heading {
    flex: 1;
}

.banner-heading h1 {
    font-size: 100px;
    font-weight: normal;
    color: #fde02f;
    font-family: Satisfy;
    margin-top: 30vh;
    
}

.banner-text-item .form {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 70%;
    padding: 1% 2%;
}

.banner-text-item input,
.banner-text-item .date,
.banner-text-item .book {
    padding: 15px;
    margin-right: 10px;
    font-size: 18px;
    font-family: Roboto;
    border-radius: 5px;
    outline: 0;
    border: none;
}

.banner-text-item input {
    width: 50%;
    flex: 2;
}

.banner-text-item .date {
    width: 20%;
    flex: 1;
}

.banner-text-item .book {
    width: 20%;
    flex: 1;
}

.banner-text-item .book {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 15px;
    cursor: pointer;
    background-color: #fde02f;
    font-size: 16px;
    font-weight: normal;
    font-family: "Barlow Condensed";
    width: 20%;
}

@media all and (max-width: 1172px) {
    .banner-text-item .form {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .banner-text-item .form input,
    .banner-text-item .form .date,
    .banner-text-item .form a {
        flex: 1;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .banner-text-item .form input {
        width: 60%;
    }

    .banner-text-item .form .date {
        width: 30%;
    }

    .banner-text-item .form .book {
        width: 10%;
        font-size: 14px;
    }

    .banner-heading h1 {
        font-size: 60px;
    }
}

@media all and (max-width: 1414px) {
    .banner-text-item .form input {
        width: 40%;
    }

    .banner-text-item .form .date {
        width: 30%;
    }

    .banner-text-item .form .book {
        width: 20%;
        font-size: 14px;
    }
}

@media all and (max-width: 928px) {
    .banner .form input,
    a {
        font-size: 12px;
    }
}

@media all and (max-width: 1173px) {
    .banner .form {
        background-color: transparent;
    }
}
