.footer {
    background-image: url("../asset/footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 35vh;
    margin-top: 10vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 36, 0.8);
}

.footer .links {
    color: white;
    height: 80%;
    width: 24vw;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.contact-data, .querry-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links ul {
    list-style-type: none;
}

.links h3 {
    font-family: Barlow Condensed;
    font-weight: normal;
    color: crimson;
    font-size: 25px;
    margin-bottom: 10px;
}

.links li {
    font-family: Roboto;
    cursor: pointer;
    padding: 5px 0;
}

.links li:hover {
    color: #ffa801;
}

.socialIcon, .contact li{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-media ul{
    margin-left: -30px;
}

.socialIcon p, .contact p{
    margin-left: 10px;
}

.links a{
    font-family: Roboto;
    cursor: pointer;
}

.links li a:hover {
    color: #ffa801;
}

@media all and (max-width: 708px) {
    .footer {
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center; 
    }
    .footer .links{
        width: 100%;
    }
    .contact-data{
        margin: 5vh 10vw 5vh -1vh;
    }
    .querry-data{
        margin: 0vh 4vh 5vh auto;
    }
    .querry-data .support{
        white-space: nowrap;
        overflow: hidden;
        width: 120%;
        margin-left: -15px;
    }
    .querry-data .coupon{
        white-space: nowrap;
        overflow: hidden;
        margin-left:-15px;
    }
}
