.nav-bar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 10vh;
    background-color: #fde02f;
    box-shadow: 3px 3px 10px lightslategray;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    flex: 1;
    font-size: 40px;
    margin-left: 50px;
    font-family: Satisfy;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fde02f;
    transition: all 0.3s ease-in-out;
}

.menu li {
    flex: 1;
    font-size: 16px;
    font-family: "Barlow Condensed";
    text-align: center;
    padding: 10px 0;
    width: 90px;
}

.menu li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    transition: all 1s ease-out;
}

.menu li a:hover {
    color: crimson;
    font-weight: 800;
    text-decoration: none;
    transform: translateX(10px);
}

.hamburger {
    display: none; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media all and (max-width: 768px) {
    .nav-bar {
        justify-content: center;
        height: 7vh;
    }

    .logo {
        font-size: 30px;
        margin: 10px auto auto 10px;
    }

    .menu {
        display: none; 
    }

    .menu li {
        width: auto;
        padding: 3px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
}
