.services {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
  
  .service-item {
    flex: 1;
    padding: 50px 10px;
    border: lightcyan solid 1px;
    text-align: center;
    margin: 180px 50px;
    transition: all 1s;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  
  .service-item:hover {
    box-shadow: 3px 3px 20px lightsteelblue;
  }
  
  .service-item h2 {
    font-family: Barlow Condensed;
    font-size: 18px;
    width: 120px;
    color: #001f38;
    flex: 1;
  }
  
  .service-item img {
    width: 60px;
    height: 60px;
    flex: 1;
  }